ansiwrap
appdirs
argon2-cffi 
argon2-cffi-bindings 
asttokens 
attrs 
backcall 
beautifulsoup4 
bleach 
certifi
cffi 
charset-normalizer
click
colorama 
colorlover
cufflinks
cycler
debugpy 
decorator 
defusedxml 
entrypoints 
executing 
fastjsonschema 
fonttools
idna
importlib-resources 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
jedi 
Jinja2
joblib 
jsonschema 
jupyter
jupyter-client 
jupyter-console 
jupyter-core 
jupyterlab-pygments 
jupyterlab-widgets 
kiwisolver
llvmlite
MarkupSafe
matplotlib
matplotlib-inline 
mistune
mkl-fft
mkl-random 
mkl-service
mne
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx
notebook 
numba 
numpy 
packaging 
pandas
pandocfilters 
papermill
parso 
pickleshare 
Pillow
plotly
pooch
prometheus-client 
prompt-toolkit 
pure-eval 
pycparser 
Pygments 
pyparsing
pyrsistent 
python-dateutil 
pytz
PyYAML
pyzmq 
qtconsole 
QtPy 
requests
scikit-learn 
scikit-plot
scipy
seaborn
Send2Trash 
sip
six 
sklearn
soupsieve 
stack-data 
tenacity
terminado 
testpath 
textwrap3
threadpoolctl
tornado 
tqdm
traitlets 
typing_extensions 
urllib3
wcwidth 
webencodings
widgetsnbextension 
wincertstore
zipp 
